{if !isset($menuParent)}
	{var $menuParent = $menu}
{/if}

<ul n:block="branch" n:if="$menuParent->hasVisualItems()">
	<li n:foreach="$menuParent->getItems() as $item" n:if="$item->isVisual() && $item->isAllowed()">
		<a href="{$item->getLink()}" n:class="$item->isActive() ? active">{$item->getTranslatedTitle()}</a>
		{include branch, menuParent => $item}
	</li>
</ul>