includes:
	- ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#Access to an undefined property Nette\\Application\\UI\\ITemplate::#'
		- '#Only booleans are allowed in &&#'
		- '#Only booleans are allowed in an if condition#'
		- '#Only booleans are allowed in a negated boolean#'
