php:
	date.timezone: Europe/Prague


application:
	mapping:
		*: DKTests\*Module\Presenters\*Presenter

session:
	autoStart: false


services:
	nette.userStorage:
		class: DKTests\Menu\MockUserStorage

	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage

	# too lazy to create new factory service
	router:
		class: Nette\Application\Routers\RouteList
		setup:
			- '$service[] = ?'(Nette\Application\Routers\Route('<presenter>/<action>[/<id>]', 'Homepage:default'))
