<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Menu tests</title>
	</head>
	<body>
		<div id="breadcrumb">
			{control menu:breadcrumb}
		</div>

		<div id="menu">
			{control menu}
		</div>

		{ifset #content}
			{include content}
		{/ifset}
	</body>
</html>
