application:
	scanDirs: false
	mapping:
		*: [Contributte\MenuControlTests, *Module, Presenters\*Presenter]

di:
	export:
		parameters: no
		tags: no

services:
	- Contributte\MenuControlTests\Router\TestRouterFactory::createRouter

extensions:
	menu: Contributte\MenuControl\DI\MenuExtension

menu:
	default:
		items:
			Homepage:
				action: Homepage:default
			Category:
				action: Category:default
